.navBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -20px;
}

.logo{
  display: flex;
}

.toggle {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 65px;
  border: 2px solid #E36414;
  background: #e3631415;
}

.toggleChild{
  width: 170px;
  height: 60px;
  background: #e3631415;
  color: #f0f0f0;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer
}

.activeToggle{
  background: #E36414;
}

.logo-image {
  margin-left: 50px;
  margin-top: 50px;
  width: 75px;
  height: 75px;
}

/* Component for the heading */
.heading {
  color: white;
  margin-top: 75px;
}

/* styles.css */

/* Component for the main marketUi container */
.marketUi {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

/* Component for the smallContainer */
.smallContainer {
  display: flex;
  border: 1px solid #6C757D;
  border-radius: 15px;
  overflow: hidden;
}

/* Component for the sectionContainer inside smallContainer */
.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-right: 1px solid #6C757D;
}

/* Component for the heading h2 inside sectionContainer */
.sectionContainer h2 {
  color: #000814;
}

/* Component for the content inside sectionContainer */
.sectionContainer .content h3 {
  color: #f0f0f0;
  font-weight: 600;
  margin-bottom: 35px;
}

/* Component for the heading h2 in the middle container */
.middle-container h2 {
  color: #f0f0f0;
  font-weight: 600;
}

/* Component for the content inside the middle container */
.middle-container .content h3 {
  color: #f0f0f0;
  font-weight: 300;
  margin-bottom: 35px;
}

/* Component for the content inside the buyingAmount container */
.buyingAmount {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

/* Component for the input elements inside buyingAmount */
.buyingAmount input {
  border: none;
  font-size: 16px;
  background: #1C1E20;
  padding: 0.8rem;
  outline: #E36414;
  color: #f0f0f0;
  border-radius: 5px;
}

/* Component for the Max button inside buyingAmount */
.buyingAmount button {
  position: relative;
  left: -2.5rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  background-color: none;
  color: #E36414;
  font-size: 12px;
  font-weight: 200;
}

/* Component for the price span inside buyingAmount */
.buyingAmount span {
  color: #E36414;
  font-size: 18px;
}

/* Additional style for the Atlas span inside buyingAmount */
.buyingAmount span span {
  color: #f0f0f0;
  padding-left: 15px;
}

.headingSection{
  color: #f0f0f0 !important;
  font-weight: 600
}

.quantity{
  color: #E36414 !important;
}

.quantity span{
  color: #f0f0f0;
  padding-left: 15px
}

#Send {
  margin-top: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  font-size: 18px;
  color: #E36414;
  background: none;
  border: 1px solid #E36414;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* styles.css */

/* Component for the footer container */
.footer {
  position: absolute;
  padding: 15px 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EDF2F4;
}

/* Component for the memberShipLevel section */
.memberShipLevel {
  display: flex;
  left: 75px;
  position: relative;
}

/* Component for the icon */
.memberShipLevel .icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 5px solid #E36414;
  position: relative;
  top: 1rem;
  margin-left: 1rem;
}

/* Component for the rank */
.memberShipLevel .rank {
  color: #E36414;
  margin-left: 0.5rem;
}

/* Component for the currentPxp section */
.currentPxp {
  display: flex;
  margin-right: 75px;
}

/* Component for the pxp */
.currentPxp .pxp {
  color: #E36414;
  margin-left: 0.5rem;
}

.footerHeading{
  color: #EDF2F4;
}